body{
    background-color: grey;
}

.productDetails{
    display: inline-flex;
    flex: wrap;
    background-color: teal;
}

.product-container{
    display: inline-block ;
    flex: wrap;
    justify-content: center;
}

.home{
    text-align: center;
}